body {
  padding: 0;
  margin: 0;
  background: rgba(125, 125, 125, 0.5);
}

mark.red {
  color: #ff0000;
  background: none;
}

#roles > p {
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 15em;
}

#roles > p > button {
  float: right;
}

button {
  background-color: #44c767;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  /*padding: 16px 31px;*/
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

button:hover {
  background-color: #5cbf2a;
}

button:active {
  position: relative;
  top: 1px;
}

input {
  margin: 5px;
}

.roleDropdown {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 10px;
   overflow: hidden;
   padding: 2px 5px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}
